<p id="notice"><%= notice %></p>

<p>
  <strong>概要:</strong>
  <%= @entry.title %>
</p>

<p>
  <strong>仕事の内容:</strong>
  <%= @entry.body %>
</p>
<p><%= @entry.company %>

</p>
<p>
  <% if user_signed_in? -%>
    <%= link_to "申し込む", root_path %>

  <% end -%>
</p>
<% if company_signed_in? -%>

  <%= link_to 'Edit', edit_entry_path(@entry) %> |
<% end -%>

<%= link_to 'Back', entries_path %>
