<p id="notice"><%= notice %></p>
<h1>求人内容詳細</h1>
<p>
  <strong>概要:</strong>
  <%= @entry.title %>
</p>

<p>
  <strong>仕事の内容:</strong>
  <%= @entry.body %>
</p>

<p>
  <% if user_signed_in? -%>
    <%# if @user_applicants[user_id].index(@entry.applicant) -%>
      <%#= link_to "キャンセル", new_entry_applicants_path(@entry) %>
    <%# else -%>
          <%= link_to "申し込む", new_entry_applicants_path(@entry) %>
    <%# end -%>

  <% end -%>
</p>
<%= link_to '戻る', entries_path %>
