<%= stylesheet_link_tag 'devise/company' %>


<%= link_to image_tag("logo.png"), root_path %>

<div id="form_com">
<h2>ユーザー情報記入</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <table>
      <tr>
        <th>
          <p>
            会社名
          </p>
          <img src="/img/page_keisai/mod_keisai_main_must.jpg" width="33" height="16" />
        </th>
        <td>
          <input name="data[Keisai][name]" type="text" class="required" id="name" />          <span>
            例）株式会社アイタンクジャパン
          </span>
        </td>
      </tr>
      <tr>
        <th>
          <p>
            会社名（フリガナ）
          </p>
          <img src="/img/page_keisai/mod_keisai_main_must.jpg" width="33" height="16" />
        </th>
        <td>
          <input name="data[Keisai][name_a]" type="text" class="validate required" id="KeisaiNameA" />          <span>
            例）カブシキカイシャアイタンクジャパン
          </span>
        </td>
      </tr>
      <tr>
        <th>
          <p>
            代表者名
          </p>
          <img src="/img/page_keisai/mod_keisai_main_must.jpg" width="33" height="16" />
        </th>
        <td>
          <input name="data[Keisai][top]" type="text" class="required" id="top" />          <span>
            例）丹羽 健二
          </span>
        </td>
      </tr>
      <tr>
        <th>
          <p>
            担当者名
          </p>
          <img src="/img/page_keisai/mod_keisai_main_must.jpg" width="33" height="16" />
        </th>
        <td>
          <input name="data[Keisai][tantou]" type="text" class="required" id="tantou" />          <span>
            例）佐藤 健人
          </span>
        </td>
      </tr>
      <tr>
        <th>
          <p>
            担当者名（フリガナ）
          </p>
          <img src="/img/page_keisai/mod_keisai_main_must.jpg" width="33" height="16" />
        </th>
        <td>
          <input name="data[Keisai][tantou_a]" type="text" class="validate required" id="KeisaiTantouA" />          <span>
            例）サトウタケト
          </span>
        </td>
      </tr>
      <tr>
        <th>
          <p>
            担当者メールアドレス
          </p>
          <img src="/img/page_keisai/mod_keisai_main_must.jpg" width="33" height="16" />
        </th>
        <td>
          <input name="data[Keisai][t_mail]" type="text" class="email hankaku required" id="KeisaiTMail" />          <span>
            info@example.jp
          </span>
        </td>
      </tr>
      <tr>
        <th>
          <p>
            所在地
          </p>
          <img src="/img/page_keisai/mod_keisai_main_must.jpg" width="33" height="16" />
        </th>
        <td>
          <div class="address">
            <h4>
              郵便番号
            </h4>
            <input name="data[Keisai][address1]" type="text" class="zip hankaku required addr" onKeyUp="AjaxZip3.zip2addr(this,&#039;&#039;,&#039;data[User][address2]&#039;,&#039;data[User][address3]&#039;);" id="KeisaiAddress1" />          </div>
          <div class="address">
            <h4>
              都道府県名
            </h4>
            <input name="data[Keisai][address2]" type="text" class="required addr" id="address2" />          </div>
          <div class="address">
            <h4>
              それ以降
            </h4>
            <input name="data[Keisai][address3]" type="text" class="required addr" id="address3" />          </div>
        </td>
      </tr>
      <tr>
        <th>
          <p>
            電話番号
          </p>
          <img src="/img/page_keisai/mod_keisai_main_must.jpg" width="33" height="16" />
        </th>
        <td>
          <input name="data[Keisai][tel]" type="text" class="tel hankaku required" id="tel" />          <span>
            例）03-6418-1348
          </span>
        </td>
      </tr>
      <tr>
        <th>
          <p>
            URL
          </p>
          <img src="/img/page_keisai/mod_keisai_main_must.jpg" width="33" height="16" />
        </th>
        <td>
          <input name="data[Keisai][url]" type="text" class="required" id="url" />          <span>
            例）http://www.example.com
          </span>
        </td>
      </tr>
      <tr>
        <th>
          <p>
            申し込み内容
          </p>
          <img src="/img/page_keisai/mod_keisai_main_must.jpg" width="33" height="16" />
        </th>
        <td>
        <p><input type="hidden" name="data[Keisai][plan]" id="KeisaiPlan_" value="" /><input type="radio" name="data[Keisai][plan]" id="KeisaiPlan12ヶ月掲載コース1ヶ月あたり金額38000円税別" class="required" value="12ヶ月掲載コース【1ヶ月あたり金額：38,000円(税別)】"  /><label for="KeisaiPlan12ヶ月掲載コース1ヶ月あたり金額38000円税別">12ヶ月掲載コース【1ヶ月あたり金額：38,000円(税別)】</label></p><p><input type="radio" name="data[Keisai][plan]" id="KeisaiPlan6ヶ月掲載コース1ヶ月あたり金額58000円税別" class="required" value="6ヶ月掲載コース【1ヶ月あたり金額：58,000円(税別)】"  /><label for="KeisaiPlan6ヶ月掲載コース1ヶ月あたり金額58000円税別">6ヶ月掲載コース【1ヶ月あたり金額：58,000円(税別)】</label></p>        </td>
      </tr>
      <tr>
        <th>
          <p>
            オプションプランの申し込み
          </p>
        </th>
        <td>
                    <p><input type="hidden" name="data[Keisai][option01]" id="KeisaiOption01_" value="0" /><input type="checkbox" name="data[Keisai][option01]" value="メールマガジン(10,000人/回)への掲載【58,000円(税別)】" id="KeisaiOption01" /><label for="KeisaiOption01">メールマガジン(10,000人/回)への掲載【58,000円(税別)】</label></p>                    <p><input type="hidden" name="data[Keisai][option02]" id="KeisaiOption02_" value="0" /><input type="checkbox" name="data[Keisai][option02]" value="TOPページのオススメ求人リンク(1週間)【78,000円(税別)】" id="KeisaiOption02" /><label for="KeisaiOption02">TOPページのオススメ求人リンク(1週間)【78,000円(税別)】</label></p>                  </td>
      </tr>
      <tr>
        <th>
          <p>
            利用規約への同意
          </p>
          <img src="/img/page_keisai/mod_keisai_main_must.jpg" width="33" height="16" />
        </th>
        <td>
          <input type="hidden" name="data[Keisai][rule2]" id="KeisaiRule2_" value="0" /><input type="checkbox" name="data[Keisai][rule2]" class="required" value="1" id="KeisaiRule2" /><label for="KeisaiRule2">下記規約に同意する</label>          <br />
          <div>
            キャリアバイト：利用規約
            <br />
            <br />
            本規約は、株式会社アイタンクジャパン（以下、当社といいます。）が企画運営
            <br />
            する「キャリアバイト」を通じて提供される一切のサービス（以下、本サービス
            <br />
            といいます。）に適用されるものとします。
            <br />
            第1条（定義）
            <br />
            <br />
            1.本サービスとは、株式会社アイタンクジャパンが運営する「キャリアバイト」
            <br />
            を通じた、インターネット上の求人情報サービス及び、それに関連するサービス
            <br />
            の総称です。
            <br />
            2.ユーザーとは、本サービスを利用するすべての方をいいます。
            <br />
            第2条（禁止事項）
            <br />
            <br />
            ユーザーは、以下の行為を行うことを禁止します。
            <br />
            1.虚偽の情報を登録する行為
            <br />
            2.公序良俗・法令・条例等に反する行為
            <br />
            3.社会常識・通念を逸脱した行為
            <br />
            4.当社、他のユーザー及び第三者の財産権（特許権、商標権、著作権等のあらゆる知的財産権を含む）またはプライバシーに関する権利等、あらゆる法的権利を侵害する行為
            <br />
            5.当社、他のユーザー、求人企業及び第三者を誹謗中傷する行為
            <br />
            6.本サービスの運営、当社の経営を妨げる恐れのある一切の行為
            <br />
            7.その他、当社が不適切と判断する一切の行為
            <br />
            <br />
            第3条（情報の削除）
            <br />
            <br />
            当社は、第2条に規定された行為とみなされる情報が登録される等、登録情報を削除する必要がある場合、ユーザーに通知することなく、当該情報を削除することができます。
            <br />
            第4条（個人情報の取扱）
            <br />
            <br />
            ご提供いただいた個人情報は、以下の目的のみに使用いたします。
            <br />
            1.お客様のお問い合わせに対する回答、相談
            <br />
            2.キャリアバイト会員登録者の個人認証及び会員向け各種サービスの提供
            <br />
            3.ユーザーの承諾に基づく、キャリアバイト利用企業への個人情報開示
            <br />
            4.各種アンケート、キャンペーン等への応募受付及び当選者への連絡、プレゼント発送
            <br />
            5.記事作成等におけるモニターや取材対象者の応募受付及び対象者への連絡
            <br />
            6.ユーザーへのメールマガジン、各種お知らせ等の情報配信
            <br />
            7.ご提供いただいた個人情報は、他社に委託することはありません。
            <br />
            8.ご提供いただいた個人情報の利用目的の通知、開示・訂正・追加・削除、利用
            <br />
            停止・消去及び第三者提供の停止をご希望される場合は、下記の個人情報相談窓
            <br />
            口までご連絡ください。
            <br />
            9.相談窓口
            <br />
            　　株式会社アイタンクジャパン　「キャリアバイト」顧客相談窓口責任者　info@careerbaito.com
            <br />
            第5条（サービスの変更）
            <br />
            <br />
            当社は、事前の通知なく、ユーザー向けサービスを変更または一時的に中断をすることがありますが、ユーザーはそれに対して異議を申し立てないものとします。
            <br />
            第6条（免責）
            <br />
            <br />
            1.本サービスは、職業安定法に規定される職業紹介ではなく、当社は本サービス上の求人情報内容の正確性、有用性等について何らの保証をしないものとします。
            <br />
            2.当社は、ユーザーが本サービスを利用することにより発生する一切の損害に対し、何らの責任も負担しないものとします。
            <br />
            3.当社は本サービスの中断や停止、内容の変更や追加によってユーザーが受けた損害に関して、何ら責任も負わないものとします。
            <br />
            <br />
            第7条（規約の変更）
            <br />
            <br />
            当社は、ユーザーの承諾を得ることなく、本規約を随時変更することができます。変更の内容は、本サービスに掲載し、その掲載をもって、すべてのユーザーが了承したものとみなします。
            <br />
            第8条（損害賠償）
            <br />
            <br />
            ユーザーが本規約に違反し、当社または第三者に対し損害を与えた場合、ユーザーは、当社または第三者に対し、損害賠償義務を負担します。
            <br />
            第9条（管轄裁判所）
            <br />
            <br />
            <br />
            本規約に関する紛争については、東京地方裁判所を第一審の管轄裁判所とします。
            <br />
            <br />
            制定日：平成21年7月21日
            <br />
            改定日：平成21年7月21日
            <br />
            株式会社アイタンクジャパン　
            <br />
            代表取締役社長　丹羽健二
            <br />
          </div>
        </td>
      </tr>
      <tr>
        <th>
          <p>
            備考
          </p>
        </th>
        <td>
          <span>
            ご質問等ございましたらこちらにご記入ください。
          </span>
          <textarea name="data[Keisai][bikou]" cols="30" rows="6" id="KeisaiBikou" ></textarea>        </td>
      </tr>
    </table>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

</div>

<%#= render "companies/shared/links" %>
