<%= stylesheet_link_tag 'devise/company' %>


<%= link_to image_tag("logo.png"), root_path %>

<div id="form_com">
<h2>ユーザー情報記入</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <table border=2>
      <tr>
        <th>
          <p>
            会社名
          </p>
        </th>
        <td>
          <%= f.text_field :name %>
	  <span>
            例）株式会社StudyInturn
          </span>
        </td>
      </tr>
      <tr>
        <th>
          <p>
            会社名（フリガナ）
          </p>
        </th>
        <td>
	  <%= f.text_field :name_a %>
	  <span>
            例）カブシキカイシャスタディインターン
          </span>
        </td>
      </tr>
      <tr>
        <th>
          <p>
            代表者名
          </p>
        </th>
        <td>
          <%= f.text_field :top %>
	  <span>
            例）児島 無有
          </span>
        </td>
      </tr>
      <tr>
        <th>
          <p>
            担当者名
          </p>
        </th>
        <td>
          <%= f.text_field :tantou %>
	  <span>
            例）石橋 弦樹
          </span>
        </td>
      </tr>
      <tr>
        <th>
          <p>
            担当者名（フリガナ）
          </p>
        </th>
        <td>
          <%= f.text_field :tantou_a %>
	  <span>
            例）イシバシゲンキ
          </span>
        </td>
      </tr>
      <tr>
        <th>
          <p>
            担当者メールアドレス
          </p>
        </th>
        <td>
          <%= f.text_field :email %>
	  <span>
            info@example.jp
          </span>
        </td>
      </tr>
      <tr>
        <th>
          <p>
            所在地
          </p>
        </th>
        <td>
          <div class="address">
            <h4>
              郵便番号
            </h4>
            <%= f.text_field :address1 %>
          </div>
          <div class="address">
            <h4>
              都道府県名
            </h4>
            <%= f.text_field :address2 %>
          </div>
          <div class="address">
            <h4>
              それ以降
            </h4>
            <%= f.text_field :address3 %>          </div>
        </td>
      </tr>
      <tr>
        <th>
          <p>
            電話番号
          </p>
        </th>
        <td>
          <%= f.text_field :tel %>          <span>
            例）03-6418-◯◯××
          </span>
        </td>
      </tr>
      <tr>
        <th>
          <p>
            URL
          </p>
        </th>
        <td>
          <%= f.text_field :url %>
          <span>
            例）http://www.example.com
          </span>
        </td>
      </tr>
      <tr>
        <th>
          <p>
            利用規約への同意
          </p>
        </th>
        <td>
	  <%#= f.check_box :rule ,{}, 'yes', 'no'  %>
	  <!-- なぜかチェックバックスのacceptanceが反応しない -->
	  <%= f.check_box :agreement %>

          <%= f.label '下記規約に同意する' %>
            <br />
          <div style="height:100px; width:500px; overflow-y:scroll">
            スタディインターン：利用規約
            <br />
            <br />
            本規約は、株式会社スタディインターン（以下、当社といいます。）が企画運営
            <br />
            する「スタディインターン」を通じて提供される一切のサービス（以下、本サービス
            <br />
            といいます。）に適用されるものとします。
            <br />
            第1条（定義）
            <br />
            <br />
            1.本サービスとは、株式会社スタディインターンが運営する「スタディインターン」
            <br />
            を通じた、インターネット上の求人情報サービス及び、それに関連するサービス
            <br />
            の総称です。
            <br />
            2.ユーザーとは、本サービスを利用するすべての方をいいます。
            <br />
            第2条（禁止事項）
            <br />
            <br />
            ユーザーは、以下の行為を行うことを禁止します。
            <br />
            1.虚偽の情報を登録する行為
            <br />
            2.公序良俗・法令・条例等に反する行為
            <br />
            3.社会常識・通念を逸脱した行為
            <br />
            4.当社、他のユーザー及び第三者の財産権（特許権、商標権、著作権等のあらゆる知的財産権を含む）またはプライバシーに関する権利等、あらゆる法的権利を侵害する行為
            <br />
            5.当社、他のユーザー、求人企業及び第三者を誹謗中傷する行為
            <br />
            6.本サービスの運営、当社の経営を妨げる恐れのある一切の行為
            <br />
            7.その他、当社が不適切と判断する一切の行為
            <br />
            <br />
            第3条（情報の削除）
            <br />
            <br />
            当社は、第2条に規定された行為とみなされる情報が登録される等、登録情報を削除する必要がある場合、ユーザーに通知することなく、当該情報を削除することができます。
            <br />
            第4条（個人情報の取扱）
            <br />
            <br />
            ご提供いただいた個人情報は、以下の目的のみに使用いたします。
            <br />
            1.お客様のお問い合わせに対する回答、相談
            <br />
            2.スタディインターン会員登録者の個人認証及び会員向け各種サービスの提供
            <br />
            3.ユーザーの承諾に基づく、スタディインターン利用企業への個人情報開示
            <br />
            4.各種アンケート、キャンペーン等への応募受付及び当選者への連絡、プレゼント発送
            <br />
            5.記事作成等におけるモニターや取材対象者の応募受付及び対象者への連絡
            <br />
            6.ユーザーへのメールマガジン、各種お知らせ等の情報配信
            <br />
            7.ご提供いただいた個人情報は、他社に委託することはありません。
            <br />
            8.ご提供いただいた個人情報の利用目的の通知、開示・訂正・追加・削除、利用
            <br />
            停止・消去及び第三者提供の停止をご希望される場合は、下記の個人情報相談窓
            <br />
            口までご連絡ください。
            <br />
            9.相談窓口
            <br />
            　　株式会社スタディインターン　「スタディインターン」顧客相談窓口責任者　studyinturn@gmail.com
            <br />
            第5条（サービスの変更）
            <br />
            <br />
            当社は、事前の通知なく、ユーザー向けサービスを変更または一時的に中断をすることがありますが、ユーザーはそれに対して異議を申し立てないものとします。
            <br />
            第6条（免責）
            <br />
            <br />
            1.本サービスは、職業安定法に規定される職業紹介ではなく、当社は本サービス上の求人情報内容の正確性、有用性等について何らの保証をしないものとします。
            <br />
            2.当社は、ユーザーが本サービスを利用することにより発生する一切の損害に対し、何らの責任も負担しないものとします。
            <br />
            3.当社は本サービスの中断や停止、内容の変更や追加によってユーザーが受けた損害に関して、何ら責任も負わないものとします。
            <br />
            <br />
            第7条（規約の変更）
            <br />
            <br />
            当社は、ユーザーの承諾を得ることなく、本規約を随時変更することができます。変更の内容は、本サービスに掲載し、その掲載をもって、すべてのユーザーが了承したものとみなします。
            <br />
            第8条（損害賠償）
            <br />
            <br />
            ユーザーが本規約に違反し、当社または第三者に対し損害を与えた場合、ユーザーは、当社または第三者に対し、損害賠償義務を負担します。
            <br />
            第9条（管轄裁判所）
            <br />
            <br />
            <br />
            本規約に関する紛争については、東京地方裁判所を第一審の管轄裁判所とします。
            <br />
            <br />
            制定日：平成25年1月29日
            <br />
            改定日：平成25年1月29日
            <br />
            株式会社スタディインターン　
            <br />
          </div>
        </td>
      </tr>
      <tr>
        <th>
          <p>
            備考
          </p>
        </th>
        <td>
          <span>
            ご質問等ございましたらこちらにご記入ください。
          </span>
          <%= f.text_area :bikou %>
	</td>
      </tr>
      <tr>
	<td colspan="2">  <div align="center">
    <%#= f.submit "sign_up"%>

    <%= image_submit_tag("com_submit_btn.png") %>

    </div></td>
      </tr>
    </table>

    <!-- パスワード生成 -->
    <% pass = [*1..9, *'A'..'Z', *'a'..'z'].sample(8).join -%>

  <%= f.hidden_field :password, :value => pass %></div>
  <%= f.hidden_field :password_confirmation, :value => pass %></div>


<% end %>

</div>

<%#= render "companies/shared/links" %>
