<h1>申し込み者一覧</h1>
<table width="" cellspacing="" cellpadding="" border="">
  <thead>
    <tr>
      <th><!-- アイコン --></th>
      <th>応募者名前</th>
      <th>コメント</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @applicants.each do |applicant| -%>
    <tr>
      <td><%= "アイコン" %></td>
      <td><%= User.find(applicant.user_id).name %></td>
      <td><%= applicant.body %></td>
      <td><%= link_to "詳細", company_entry_applicant_path( @entry, id: applicant, entry_id: params[:entry_id]) %></td>
    </tr>
    <% end -%>
  </tbody>
</table>

<br />
<%= link_to "戻る", company_entries_path %>

