<h1>応募者詳細情報</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>名前:</strong>
  <%= User.find(@applicant.user_id).name %>
</p>

<p>
  <strong>意気込み:</strong>
  <%= @applicant.body %>
</p>

<%= link_to '採用する', :action => "mail_send" %>|<%= link_to '一覧に戻る', company_entry_applicants_path(@entry)  %>

