<h1>自社の求人一覧</h1>
<table>
  <thead>
    <tr>
      <th>概要(申し込み人数)</th>
      <th>仕事の内容</th>
      <th>申し込み人数</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.title.to_s + "(" + entry.applicant.count.to_s + ")" %></td>
        <td><%= entry.body %></td>
	<td><%= link_to "応募者詳細", company_entry_applicants_path(entry) %></td>
        <td>
	  <%= link_to '求人詳細', company_entry_path(entry) %></td>
        <td><%= link_to '編集', edit_company_entry_path(entry) %></td>
        <td><%= link_to '削除', company_entry_path(entry), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<!-- 企業のみ案件の追加できる -->
<% if company_signed_in? -%>
  <%= link_to '案件登録', new_company_entry_path %>
<% end -%>
