<p id="notice"><%= notice %></p>

<p>
  <strong>概要:</strong>
  <%= @entry.title %>
</p>

<p>
  <strong>仕事の内容:</strong>
  <%= @entry.body %>
</p>

<p>
</p>
<% if company_signed_in? -%>

  <%= link_to '編集', edit_company_entry_path(@entry) %> |
<% end -%>

<%= link_to '戻る', company_entries_path %>
