<!DOCTYPE html>
<html>
<head>
  <title>Studyinturn2</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if company_signed_in? -%>
    <%= link_to image_tag("logo.png"), company_entries_path(current_company) %>
  <% else -%>
      <%= link_to image_tag("logo.png"), root_path %>
  <% end -%>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <p>
    <div Align="right">
      <% if company_signed_in? -%>
	<%= link_to "企業ログアウト", destroy_company_session_path, :method => :delete %>
      <% else -%>
	<% unless user_signed_in? -%>
	  <%= link_to "企業の方　ログイン ", new_company_session_path %>
	<% end -%>

      <% end -%>
    </div>
  </p>
  <p>
    <div Align="center">
      <% if user_signed_in? -%>
	<%= link_to "ユーザーログアウト", destroy_user_session_path, :method => :delete %>
      <% else -%>
	<% unless company_signed_in? -%>
	  	  <%= link_to "sign in with facebook ", user_omniauth_authorize_path(:facebook) %>

	<% end -%>
      <% end -%>





    </div>
  </p>

<%= yield %>

</body>
</html>
